body {
    background-color: #121212;
    color: white;
    margin: 0;
    font-family: Gotham, Arial, sans-serif;
    font-weight: 600;
  }

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 33vh; /* Cover only the top quarter of the screen */
  background-image: linear-gradient(to bottom, #4527A0, rgba(103, 58, 183, 0)); /* Purple to transparent */
  z-index: -1; /* Move the pseudo-element behind the content */
}

body.body2::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 33vh; /* Cover only the top quarter of the screen */
  background-image: linear-gradient(to bottom, #1db954, rgba(103, 58, 183, 0)); /* Green to transparent */
  z-index: -1; /* Move the pseudo-element behind the content */
}

/* .slider-body::before {
  content: none;
} */

.navigator {
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #2e2e2e;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100%;
  gap: 10px;
  border-radius: 5px;
  z-index: 1;

}

.nav-item {
  text-align: center;
  color:white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  height: 35px;
  border-radius: 5px;
}

.nav-item:hover {
  color:#1db954;
  background-color: #1f1f1f;

}

.playlist-nav{
  position: relative;
  display: inline-block;
}

.playlist-content {
  position: relative;
  display: none;
  background-color: rgb(54, 53, 53);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  list-style-type: none;
  box-sizing: border-box;
  padding: 0px;
  width: 100%;
}

.playlist-nav:hover .playlist-content{
  display:block;
}

.playlist-content li:hover {
  background-color: #1f1f1f;
}

.playlist-content-item{
  padding: 10px;
}

.playlist-content-item a {
  color: white;
  display: block;
}

.playlist-content-item a:hover {
  color: #1db954;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 800px;
}

.inner-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 40%;
  gap: 10px;
  width: 96%; /* Full width */
  height: 140px;
  margin-top: 20px;
}

.bottom-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 100%;
  gap: 10px;
  width: 96%;
  height: 280px;
  margin-top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

.big-button {
  display: flex;
  flex-direction: column;
  background-color: #191919;
  border-radius: 5px;
  transition: background-color 0.45s;
  /* align-items: center; */
  padding: 20px;
  overflow: hidden;
}

.song-icon {
  width: 80%;
  border-radius: 5px;
  max-width: inherit;
  width: inherit;
  /* max-height: inherit; */
  object-fit: cover;
}

.big-button h3{
  margin-bottom: 5px;
  font-weight: 550;
}

.bottom-text{
  font-weight: 100;
  font-size: 14px;
  color: gray;
}

.big-button:hover {
  background-color: #3a3a3a;
}

.playlist-button:hover .play-button {
  visibility: visible;
}

.playlist-button:hover {
  background-color: #3a3a3a;
}

.title {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  color: #1db954; /* Spotify green color */
}

.title2 {

  top: 10px;
  float: right;
  padding-left: 20px;
  color: #1db954; /* Spotify green color */
}

.title-container {
  width: 50%;
}

.spotify-logo {
  width: 100px;
  height: 100px;
  float: left;
}

.icon {
  width: 12%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
}

.playlist-button{
  display: flex;
  justify-content: flex-start;
  background-color: #2a2a2a;
  transition: background-color 0.45s;
  border-radius: 5px;
}  

.playlist-button p {
  padding-left: 12px;
  display: flex;
  align-items: center;
  /* text-align: left; */
  flex-grow: 4;
  color: white;
  /* text-decoration: none; */
  /*border: none;*/
}

.play-button {
  visibility:hidden;
  /* transition: visibility .45s; */
}

.slider-body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.slider-container {
  width: 80%;
  margin: 20px auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background-color: #d3d3d3;
  outline: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background-color: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.page-title {
  position: absolute;
  display: block;
  text-align: center;
  background-color: #212121;
  border-radius: 5px;
  padding: 5px;
  top: 70px;
  font-size: 50px;
}

.resource-link { 
  text-decoration: none; 
} 

.resource-body {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 100%;
  top: 120px;
  width: 117vh;
  height: 180px;
  padding-left: 475px;
}

.resource-item {
  margin: 65px 0;
  width: 40%;
  height: 70px;
  background-color: #212121;
  border-radius: 5px;
  transition: background-color 0.45s;
  border-radius: 5px;
  padding: 15px;
}

.resource-item:hover {
  background-color: #3b3b3b;
}

.resource-text {
  top: 35%;
  text-align: center;
  position: relative;

  color: white;
}

.resource_icon {
  width: 50px;
  height: 50px;
  background-color:white;
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
  float: right;
}

.resource_icon2 {
  width: 130px;
  height: 50px;
  background-color:white;
  border-radius: 5px;
  margin: 5px;
  padding: 4px;
  float: right;
}

.resource_icon3{
  width: 67px;
  height: 50px;
  background-color:white;
  border-radius: 5px;
  margin: 5px;
  padding: 4px;
  float: right;
}

.dashboard-body {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Three equal-width columns */
  grid-gap: 50px; /* Gap between grid items */

  top: 190px; 
}

.dashboard-section {
  position: relative;
  padding: 10px;
  right: 10px;
  background-color: #2a2a2a;
  border-radius: 5px;
}

.about-body {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Three equal-width columns */
  grid-gap: 50px; /* Gap between grid items */
  width: 117vh;
  top: 190px;
  
}

.about-section {
  position: relative;
  padding: 10px;
  background-color: #212121;
  border-radius: 5px;
}

.section-name {
  font-size: 36px; 
}

.section-body {
  position: relative;
  margin-top: 20px;
}

.about-photo {
  position: relative;
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 5px;
}

.about-photo2 {
  position: relative;
  width: 100px;
  height: 134px;
  float: left;
  border-radius: 5px;
}

.about-description {
  position: relative;
  float: left;
  margin-left: 20px;
  width: 700px;
}

.playlist-body {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
  width: 177vh;
  top: 20px;
  
}

.playlist-container {
  margin: 50px 0px;
}

.playlist-title {
  position: relative;
  display: block;
  text-align: center;
  background-color: #212121;
  border-radius: 5px;
  padding: 5px;
  top: 70px;
  font-size: 50px;
}

.playlist-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
  padding: 30px;
  margin: 30px 0px;
  background-color: #212121;
  border-radius: 5px;
  top: 70px;
}

.playlist-row {
  margin: 100px 0px;
  top: 100px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.genres {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
}

.playlist-section2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
  padding: 30px;
  margin: 30px 0px;
  background-color: #212121;
  border-radius: 5px;
  top: 70px;
}

.playlist-section3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 30px;
  margin: 110px 0px;
  background-color: #212121;
  border-radius: 5px;
}

.decades-pie-chart {
  border-radius: 5px;
}

.genre-bar-chart {
  border-radius: 5px;
}

.green {
  color: rgb(39, 218, 39);
}

.yellow {
  color: rgb(245, 245, 37);
}

.orange {
  color: rgb(246, 167, 19);
}

.red {
  color: rgb(255, 31, 31);
}

.blue {
  color: rgb(0, 255, 251);
}

.purple {
  color: rgb(230, 54, 230);
}

.pink {
  color: pink;
}

.teal {
  color: rgb(101, 201, 148);
}

.input-group {
    /* font-family: 'Gotham Circular', sans-serif; */

  margin-bottom: 15px;
  background-color: #2a2a2a; /* Add border around input group */
  padding: 10px; /* Add some padding for better spacing */
  border-radius: 5px;
}

.input-group:hover{
  background-color: #3a3a3a;
}