body {
    background-color: #121212;
    color: white;
    margin: 0;
    font-family: Gotham, Arial, sans-serif;
    font-weight: 600;
  }

  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 33vh; /* Cover only the top quarter of the screen */
    background-image: linear-gradient(to bottom, #4527A0, rgba(103, 58, 183, 0)); /* Purple to transparent */
    z-index: -1; /* Move the pseudo-element behind the content */
  }
  
  
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .inner-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40%;
    gap: 10px;
    width: 96%; /* Full width */
    height: 140px;
    margin-top: 20px;
  }
  
  .playlist-button:hover .play-button {
    visibility: visible;
  }

  .playlist-button:hover {
    background-color: #3a3a3a;
  }
  
  .title {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #1db954; /* Spotify green color */
  }

  .title2 {

    top: 10px;
    float: right;
    padding-left: 20px;
    color: #1db954; /* Spotify green color */
  }

  .title-container {
    width: 50%;
  }

  .logo {
    width: 100px;
    height: 100px;
    float: left;
  }
  
  
  .icon {
    width: 12%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px 
  }

  .playlist-button{
    display: flex;
    justify-content: flex-start;
    background-color: #2a2a2a;
    transition: background-color 0.3s;
    border-radius: 5px;
  }  

  .playlist-button p {
    padding-left: 12px;
    display: flex;
    align-items: center;
    /* text-align: left; */
    flex-grow: 4;
    color: white;
    /* text-decoration: none; */
    /*border: none;*/
  }

  .play-button {
    visibility:hidden;
  }
  