<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Spotify App</title>
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Gotham:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
  <script src="../routes/navigator.js"></script>
  <div class="app-container">
    <div class="page-title">About Us</div>
    <div class="about-body">
      <div class="about-section">
        <div class="section-name">Ahlden Brough, CEO and Founder</div>
        <div class="section-body">
          <img src="../images/ahlden.jpg" class="about-photo2">
          <div class="about-description">Description <br>
            Since I was a little boy, I have always dreamt of running a music data analytics company. That dream came true when I founded Melody Metrics.
            Our mission is to pioneer innovative data analysis solutions, empowering businesses and creators in the ever-evolving landscape of the 
            music industry. As CEO, my commitment is to lead our team with vision, empathy, and a relentless pursuit of excellence. 
            Together, we will empower our clients to navigate the dynamic world of music with confidence.
          </div>
        </div>
      </div>
      <div class="about-section">
        <div class="section-name">Daniel Rose, COO and Head Tableau Architect</div>
        <div class="section-body">
          <img src="../images/daniel.png" class="about-photo">
          <div class="about-description">Description <br>
            Tableau is the best thing since sliced bread. Becoming a Tableau Architect has always been my life-long goal. As a Tableau architect, 
            I pledge to harness the full potential of Tableau's capabilities, designing and implementing scalable and intuitive dashboards that elevate 
            data-driven decision-making. I strive to be the architects of clarity, guiding my clients through the intricacies of data visualization with 
            precision and expertise.
          </div>
        </div>
      </div>
      <div class="about-section">
        <div class="section-name">Immanuel KC Onuoha, CFO and Master Powerpoint Presentation Designer</div>
        <div class="section-body">
          <img src="../images/immanuel.jpeg" class="about-photo">
          <div class="about-description">Description <br>
            Who doesn't love PowerPoint, amirite? PowerPoint is the best invention ever created, no questions. I am dedicated to understanding our clients' 
            visions, goals, and unique storytelling needs. My mission is to be the creative partners who translate concepts into visually compelling 
            presentations that leave a lasting impression. I believe in the transformative power of well-crafted slides to convey messages with clarity 
            and impact.
          </div>
        </div>
      </div>
      <div class="about-section">
      <div class="section-name">Martin Perez, Principal Machine Learning Engineer</div>
        <div class="section-body">
          <img src="../images/martin.jpg" class="about-photo2">
          <div class="about-description">Description <br>
            Machine Learning is the future. Until AI takes all of our jobs and rules the world, I will do everything in my power to make that future a
            reality. I strive to be a problem solver and an innovator, applying machine learning algorithms with precision and purpose. 
            My mission is to collaborate with diverse industries, understanding their unique challenges and providing tailor-made machine 
            learning solutions that drive efficiency, uncover insights, and catalyze progress.
          </div>
        </div>
      </div>
      <div class="about-section">
        <div class="section-name">Leon Luong, Director of Project Management and Lead Web Developer</div>
        <div class="section-body">
          <img src="../images/leon.jpg" class="about-photo2">
          <div class="about-description">Description <br>
            Spotify is love. Spotify is life. That is why I decided to be a project manager at a music data analytics company. Iam dedicated to 
            building high-performing teams, where every member's strengths are harnessed, and collaboration is at the heart of our achievements. 
            My mission is to create an environment where creativity and strategic thinking thrive, fostering a sense of ownership and pride in 
            the successful delivery of each project.
          </div>
        </div>
      </div>
    </div>
  </div>
</body>