<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Melody Metrics</title>
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Gotham:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script src="../static/js/logic.js" defer></script>
  <script src="../routes/navigator.js"></script>

  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
  <script src="../routes/navigator.js"></script>
  <div class="slider-body">
    <div class="slider-container">
      <label for="acousticness">Acousticness:</label>
      <input type="range" min="1" max="100" value="50" class="slider" id="acousticness">
      <span id="acousticness-value">0.5</span>
    </div>

    <div class="slider-container">
      <label for="danceability">Danceability:</label>
      <input type="range" min="1" max="100" value="50" class="slider" id="danceability">
      <span id="danceability-value">0.5</span>
    </div>

    <div class="slider-container">
      <label for="energy">Energy:</label>
      <input type="range" min="1" max="100" value="50" class="slider" id="energy">
      <span id="energy-value">0.5</span>
    </div>

    <div class="slider-container">
      <label for="instrumentalness">Instrumentalness:</label>
      <input type="range" min="1" max="100" value="50" class="slider" id="instrumentalness">
      <span id="instrumentalness-value">0.5</span>
    </div>

    <div class="slider-container">
      <label for="liveness">Liveness:</label>
      <input type="range" min="1" max="100" value="50" class="slider" id="liveness">
      <span id="liveness-value">0.5</span>
    </div>

    <div class="slider-container">
      <label for="loudness">Loudness:</label>
      <input type="range" min="1" max="100" value="50" class="slider" id="loudness">
      <span id="loudness-value">-23.27</span>
    </div>

    <div class="slider-container">
      <label for="speechiness">Speechiness:</label>
      <input type="range" min="1" max="100" value="50" class="slider" id="speechiness">
      <span id="speechiness-value">0.5</span>
    </div>

    <div class="slider-container">
      <label for="tempo">Tempo:</label>
      <input type="range" min="1" max="100" value="50" class="slider" id="tempo">
      <span id="tempo-value">110.50</span>
    </div>

    <div class="slider-container">
      <label for="valence">Valence:</label>
      <input type="range" min="1" max="100" value="50" class="slider" id="valence">
      <span id="valence-value">0.5</span>
    </div>

    <label for="years">Select a start year:</label>
    <select id="years1"></select>

    <label for="years">Select an end year:</label>
    <select id="years2"></select>

    <p id="data"></p>

    <button type="button" onclick="sendQuery()">
      <img src="../images/spotify-button.png" alt="Button Image" width="100" height="100">
    </button>

    <table id="results">
      <thead>
        <tr>
          <th>Song Title</th>
          <th>Artist</th>
          <th>Album Name</th>
          <th>Popularity</th>
        </tr>
      </thead>

      <tbody id="tableBody">
        <!-- Table rows will be dynamically added here -->
      </tbody>
    </table>

    </div>
  </body>
  </html>

<!-- "acousticness" float,
    "danceability" float,
    "energy" float,
    "instrumentalness" float,
    "key" integer,
    "liveness" float,
    "loudness" float,
    "mode" integer,
    "speechiness" float,
    "tempo" float,
    "valence" float, --> 

    