<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Spotify App</title>
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Gotham:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script src="../static/js/logic.js"></script>

  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

  
</head>

<body>
    <script src="../routes/navigator.js"></script>
    <div class="app-container">

      <div>
        <img class="spotify-logo" src="images/Spotify_logo.png">
        <h1 class="title2">The Spotify Deep Dive</h1>
        
      </div>
      <div class="inner-container">
        <div class="playlist-button" onclick="goto('/dashboard')" onmouseenter="">
          <img src="../images/tableau.png" alt="description" class="icon">
          <p>
            Check out our dashboards!
          </p>
          <img src="../images/spotify-button.png" alt="play-button" class="play-button">
        </div>
        <div class="playlist-button" onclick="goto('/model')" onmouseenter="">
          <img src="../images/tensorflow2.jpg" alt="description" class="icon">
          <p>
            Master our ML model!
          </p>
          <img src="../images/spotify-button.png" alt="play-button" class="play-button">
        </div>
        <div class="playlist-button" onclick="goto('/exploration')" onmouseenter="">
          <img src="../images/exploration.jpg" alt="description" class="icon">
          <p>
            Go explore!
          </p>
          <img src="../images/spotify-button.png" alt="play-button" class="play-button">
        </div>
        <div class="playlist-button" onclick="goto('/playlists')" onmouseenter="">
          <img src="../images/playlists.png" alt="description" class="icon">
          <p>
            Playlists
          </p>
          <img src="../images/spotify-button.png" alt="play-button" class="play-button">
        </div>
        <div class="playlist-button" onclick="goto('/about')" onmouseenter="">
          <img src="../images/about_us.jpg" alt="description" class="icon">
          <p>
            About Us
          </p>
          <img src="../images/spotify-button.png" alt="play-button" class="play-button">
        </div>
        <div class="playlist-button" onclick="goto('/resources')" onmouseenter="">
          <img src="../images/resources.jpg" alt="description" class="icon">
          <p>
            Resources
          </p>
          <img src="../images/spotify-button.png" alt="play-button" class="play-button">
        </div>
        <!-- <a href="/dashboard">Go to the dashboard</a>
        <a href="/model">Go to the model</a>
        <a href="/exploration">Go to the data exploration page</a> -->
      </div>
      <div class="bottom-container">
        <div class="big-button">
          <img src="../images/ahlden.jpg" onclick="goto('/playlists#ahlden')" class="song-icon">
          <div>
            <h3>Ahlden's playlist</h3>
            <span class="bottom-text"></span>
          </div>
        </div>
        <div class="big-button">
          <img src="../images/daniel.png" onclick="goto('/playlists#daniel')" class="song-icon">
          <div>
            <h3>Daniel's playlist</h3>
            <span class="bottom-text"></span>
          </div>
        </div>
        <div class="big-button">
          <img src="../images/immanuel.jpeg" onclick="goto('/playlists#immanuel')" class="song-icon">
          <div>
            <h3>Immanuel's playlist</h3>
            <span class="bottom-text"></span>
          </div>
        </div>
        <div class="big-button">
          <img src="../images/martin.jpg" onclick="goto('/playlists#martin')" class="song-icon">
          <div>
            <h3>Martin's playlist</h3>
            <span class="bottom-text"></span>
          </div>
        </div>
        <div class="big-button">
          <img src="../images/leon.jpg" onclick="goto('/playlists#leon')" class="song-icon">
          <div>
            <h3>Leon's playlist</h3>
            <span class="bottom-text"></span>
          </div>
        </div>
        <div class="big-button">
          <img src="../images/brian.png" class="song-icon">
          <div>
            <h3>Brian's Playlist</h3>
            <span class="bottom-text"></span>
          </div>
        </div>
        <div class="big-button">
          <img src="../images/construction.jpeg" class="song-icon">
          <div>
            <h3>Coming Soon!</h3>
            <span class="bottom-text"></span>
          </div>
        </div>
      </div>  
    </div>
  </body>