<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Melody Metrics</title>
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Gotham:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script src="../static/js/logic.js"></script>

  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
    <script src="../routes/navigator.js"></script>

    <div class="app-container home-container">
      <div class="main-title">
        <img class="spotify-logo" src="images/Spotify_logo.png">
        <img class="title3" src="images/mm-logo.png">

      </div>

      <div class="inner-container">
        <div class="playlist-button" onclick="goto('/dashboard')" onmouseenter="">
          <img src="../images/tableau.png" alt="description" class="icon">
          <p>
            Check out our dashboards!
          </p>
          <img src="../images/spotify-button.png" alt="play-button" class="play-button">
        </div>

        <div class="playlist-button" onclick="goto('/model')" onmouseenter="">
          <img src="../images/sklearn.png" alt="description" class="icon">
          <p>
            Master our ML model!
          </p>
          <img src="../images/spotify-button.png" alt="play-button" class="play-button">
        </div>

        <div class="playlist-button" onclick="goto('/exploration')" onmouseenter="">
          <img src="../images/exploration.jpg" alt="description" class="icon">
          <p>
            Go explore!
          </p>
          <img src="../images/spotify-button.png" alt="play-button" class="play-button">
        </div>

        <div class="playlist-button" onclick="goto('/playlists')" onmouseenter="">
          <img src="../images/playlists.png" alt="description" class="icon">
          <p>
            Playlists
          </p>
          <img src="../images/spotify-button.png" alt="play-button" class="play-button">
        </div>

        <div class="playlist-button" onclick="goto('/about')" onmouseenter="">
          <img src="../images/about_us.jpg" alt="description" class="icon">
          <p>
            About Us
          </p>
          <img src="../images/spotify-button.png" alt="play-button" class="play-button">
        </div>

        <div class="playlist-button" onclick="goto('/resources')" onmouseenter="">
          <img src="../images/resources.jpg" alt="description" class="icon">
          <p>
            Resources
          </p>
          <img src="../images/spotify-button.png" alt="play-button" class="play-button">
        </div>

        <!-- <a href="/dashboard">Go to the dashboard</a>
        <a href="/model">Go to the model</a>
        <a href="/exploration">Go to the data exploration page</a> -->
      </div>
      <div class="bottom-container">

        <div class="big-button">
          <img src="../playlist_pictures/ahlden_playlist.png" onclick="goto('/playlists#ahlden')" class="song-icon">
          <div>
            <h3>RESTful Rhythms</h3>
            <span class="bottom-text">By Ahlden</span>
          </div>
        </div>

        <div class="big-button">
          <img src="../playlist_pictures/daniel_playlist.png" onclick="goto('/playlists#daniel')" class="song-icon">
          <div>
            <h3>Visualization Station</h3>
            <span class="bottom-text">By Daniel</span>
          </div>
        </div>

        <div class="big-button">
          <img src="../playlist_pictures/immanuel_playlist.png" onclick="goto('/playlists#immanuel')" class="song-icon">
          <div>
            <h3>Jack-boys</h3>
            <span class="bottom-text">By Immanuel</span>
          </div>
        </div>

        <div class="big-button">
          <img src="../playlist_pictures/martin_playlist.png" onclick="goto('/playlists#martin')" class="song-icon">
          <div>
            <h3>Data-Bass</h3>
            <span class="bottom-text">By Martin</span>
          </div>
        </div>

        <div class="big-button">
          <img src="../playlist_pictures/leon_playlist.png" onclick="goto('/playlists#leon')" class="song-icon">
          <div>
            <h3>Javascript and chill</h3>
            <span class="bottom-text">By Leon</span>
          </div>
        </div>

        <div class="big-button">
          <img src="../playlist_pictures/bryan_playlist.png" class="song-icon">
          <div>
            <h3>TA mode activated</h3>
            <span class="bottom-text">By brian_da_TA_45</span>
          </div>
        </div>

        <div class="big-button">
          <img src="../playlist_pictures/blank_playlist.png" class="song-icon">
          <div>
            <h3>New Playlist</h3>
            <span class="bottom-text"></span>
          </div>
        </div>
        
      </div>  
    </div>
  </body>