<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Melody Metrics</title>
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Gotham:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <!-- Include Plotly library -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <script src="../routes/navigator.js"></script>
  
  <div class="app-container">
    <div class="playlist-body">

      <div class="playlist-container" id="ahlden">
        <div class="playlist-title">Ahlden's Playlist</div>
        <div class="playlist-section"></div>
        <div class="playlist-section2"></div>
        <div class="playlist-section3">
          <div class="decades-bar-chart"></div>
          <div class="genre-bar-chart"></div>
        </div>
      </div>

      <div class="playlist-container" id="daniel">
        <div class="playlist-title">Daniel's Playlist</div>
        <div class="playlist-section"></div>
        <div class="playlist-section2"></div>
        <div class="playlist-section3">
          <div class="decades-bar-chart"></div>
          <div class="genre-bar-chart"></div>
        </div>
      </div>

      <div class="playlist-container" id="immanuel">
        <div class="playlist-title">Immanuel's Playlist</div>
        <div class="playlist-section"></div>
        <div class="playlist-section2"></div>
        <div class="playlist-section3">
          <div class="decades-bar-chart"></div>
          <div class="genre-bar-chart"></div>
        </div>
      </div>

      <div class="playlist-container" id="martin">
        <div class="playlist-title">Martin's Playlist</div>
        <div class="playlist-section"></div>
        <div class="playlist-section2"></div>
        <div class="playlist-section3">
          <div class="decades-bar-chart"></div>
          <div class="genre-bar-chart"></div>
        </div>
      </div>

      <div class="playlist-container" id="leon">
        <div class="playlist-title">Leon's Playlist</div>
        <div class="playlist-section"></div>
        <div class="playlist-section2"></div>
        <div class="playlist-section3">
          <div class="decades-bar-chart"></div>
          <div class="genre-bar-chart"></div>
        </div>
      </div>

      <div class="playlist-container" id="brian">
        <div class="playlist-title"  id="brian2">Brian's Playlist</div>
        <div class="playlist-section"></div>
        <div class="playlist-section2"></div>
        <div class="playlist-section3">
          <div class="decades-bar-chart"></div>
          <div class="genre-bar-chart"></div>
        </div>
      </div>
      
    </div>
  </div>
  
  <script src="../static/js/songs.js"></script>
</body>