<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Spotify App</title>
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Gotham:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
  <script src="../routes/navigator.js"></script>
  <div class="app-container">
    <div class="page-title">Resources</div>
    <div class="page-body">
      <div class="page-item">
        <span>Discover our Github repository!</span> <a href="https://github.com/leonluong1/spotify-data-analysis">
          <img src="../images/github.png" class="resource_icon">
        </a><br>
      </div>
      <div class="page-item">
        <span>Checkout the Powerpoint Slides!</span> <a href="https://github.com/leonluong1/spotify-data-analysis">
          <img src="../images/powerpoint.png" class="resource_icon">
        </a><br>
      </div>
      <div class="page-item">
        <span>See the data for yourself!</span> <a href="https://www.kaggle.com/datasets/nicolasfierro/spotify-1986-2023/data">
          <img src="../images/kaggle.png" class="resource_icon2">
        </a><br>
      </div>
    </div>
  </div>

</body>