<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Melody Metrics</title>
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Gotham:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body class="body">
  <script src="../routes/navigator.js"></script>
  <div class="app-container">
    <div class="page-title">Resources</div>
    <div class="resource-body">
      <a href="https://github.com/leonluong1/spotify-data-analysis" class="resource-link">
        <div class="resource-item">
          <span class="resource-text">Discover our Github repository!</span> 
          <img src="../images/github.png" class="resource_icon">
        </div>
      </a>

      <a href="https://onedrive.live.com/edit?id=BD7E32D048666E17!2544&resid=BD7E32D048666E17!2544&ithint=file%2cpptx&wdo=2&cid=bd7e32d048666e17" class="resource-link">
        <div class="resource-item">
          <span class="resource-text">Checkout the Powerpoint Slides!</span> 
          <img src="../images/powerpoint.png" class="resource_icon">
        </div>
      </a>

      <a href="https://www.kaggle.com/datasets/nicolasfierro/spotify-1986-2023/data" class="resource-link">
        <div class="resource-item">
          <span class="resource-text">See the data for yourself!</span> 
          <img src="../images/kaggle.png" class="resource_icon2">
        </div>
      </a>

      <a href="https://nodejs.org/en" class="resource-link">
        <div class="resource-item">
          <span class="resource-text">Built using Node.js</span> 
          <img src="../images/node.png" class="resource_icon3">
        </div>
      </a>

      <a href="https://render.com/" class="resource-link">
        <div class="resource-item">
          <span class="resource-text">Express server hosted by Render</span> 
          <img src="../images/render.jpg" class="resource_icon">
        </div>
      </a>

      <a href="https://www.elephantsql.com/" class="resource-link">
        <div class="resource-item">
          <span class="resource-text">SQL server hosted by ElephantSQL</span> 
          <img src="../images//elephant.png" class="resource_icon">
        </div>
      </a>
    </div>
  </div>

</body>